:root {
  --background-color: #573824;
  --surface-color: #f0e8c2;
  --text-color-primary: #291b1a;
  --text-color-secondary: #573a37;
  --text-color-on-bg: #f0e8c2;

  font-family: "Alice", serif;
  line-height: 150%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(assets/bg-image.png);
  background-size: cover;
}

#page {
  box-sizing: border-box;
  width: 800px;
  padding: 24px;
  background-color: var(--surface-color);
  border-radius: 24px;
  margin: 48px auto 28px;
}

main {
  padding: 24px;
}

section + section {
  margin-top: 24px;
}

#about p + p {
  margin-top: 12px;
}

h1 {
  line-height: 140%;
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h1,
h2 {
  margin-bottom: 4px;
  color: var(--text-color-primary);
  line-height: 150%;
}

p,
ul {
  color: var(--text-color-secondary);
}

ul {
  padding-left: 24px;
}

footer {
  color: var(--text-color-on-bg);
  text-align: center;
  padding-bottom: 48px;

  a {
    color: var(--text-color-on-bg);
    text-decoration: underline;
    transition: color 0.025s ease-in-out;

    &:hover {
      color: var(--text-color-secondary);
    }
  }
}

footer img {
  vertical-align: middle;
}
